/* HEADER */

.main_container{
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}
.header_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
}

.header_navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_navigation .navigation .arrow_left{
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--bg-icon);
    background-color: var(---bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header_login{
    display: flex;
    align-items: center;
}

.header_search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
   transition: 0.5s ease-in;
   
}
.header_search:hover{
    outline: 2px solid white;
}


.header_search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header_search input{
    background:transparent;
    border: none;
    padding: 0px 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    color: #fff;
}

.header_login .subscribe{
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
}
.header_login .login{
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

/* artist  */

.artists-container{
    background-color: #242424;
    padding: 10px;
    position: absolute;
    top:90px;
    left: 320px;
    width: 65%;
    height: 415px;
    border-radius: 4px;
    overflow-y: scroll;
    

}
.artists-container::-webkit-scrollbar{
    width: 15px;
     
}
.artists-container::-webkit-scrollbar-track{
    background-color: #242424;  
     
}
.artists-container::-webkit-scrollbar-thumb{
    background-color: rgb(185, 185, 185);
    border-radius: 4px;  
    height: 2px;
       
}

.artists-container .title-container{
    color: var(---text-color);
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 25px;
}
.artists-container .artists-cards{
display: flex;
gap: 20px;
flex-wrap: wrap;
margin-left: 15px;
}
.artists-container .card{
    background-color: #d11294;
    padding: 4px;
    border-radius: 10px;
    width: 15rem;
    height: 120px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.artists-container .card:hover{
transform: scale(1.1);
}
.artists-container .card .img-artist{
    width: 110px;
    margin-left: 147px;
    transform: rotate(25deg);
    margin-top: 24px;
    border-radius: 4px;

}
.artists-container .card-title{
    color: var(---text-color);
    font-size: 24px;
    margin-left: 15px;
    margin-top: -140px;
}


/* search card */

.artists-result-search{
    background-color: #2f2d2d;
    padding: 25px;
    border-radius: 4px;
    width: 320px;
}
.artists-result-search img{
    width: 110px;
    border-radius: 5px;
}
.artists-result-search h1{
    color: #fff;
    font-size: 34px;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
.artists-result-search p{
    color: #d6d6d6;
    
}

.artist-info{
    display: flex;
    justify-content: space-between;
}
.artist-info i{
    background-color: #429442;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.artist-info i:hover{
    transform: scale(1.1);
}

